<h1 class="page-header">Cadastro de Usuário</h1>
<div class="col-md-6">
  <ul  class="nav nav-pills">
    <li class="<%= @person.type == 'NaturalPerson' || @person.type.nil?  ? 'active' : ''  %>">
      <a href="#1b" data-toggle="tab">Nova Pessoa Física</a>
    </li>
    <li class="<%= @person.type == 'LegalPerson' ? 'active' : ''  %>">
      <a href="#2b" data-toggle="tab">Nova Pessoa Juridica</a>
    </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane <%= @person.type == 'NaturalPerson' || @person.type.nil?  ? 'active' : ''  %>" id="1b">
      <h3>Pessoa Física</h3>
      <%= render partial: "people/shared/form_natural", locals: {readonly: false}%>
    </div>
    <div class="tab-pane <%= @person.type == 'LegalPerson' ? 'active' : ''  %>" id="2b">
      <h3>Pessoa Jurídica</h3>
      <%= render partial: "people/shared/form_legal", locals: {readonly: false}%>
    </div>
  </div>
</div>



<%# render partial: "people/shared/form", 
           :locals => {title_action: 'Cadastrando usuário', action: 'create', readonly: false}  %>